.popUpWindow{
	position:relative;
	float:left;
	width:100%;
}
.btnSubmit{
	position: relative;
	float: left;
	padding: 0.5rem 1rem;
	border:1px solid rgba(0,0,0,0.6);
	border-radius: 0.4rem;
	margin-left: 1rem;
}
.hide{
	display:none;
}

.show{
	display:block;	
}
.dropdownContainer{
	position: relative;
	float: left;
	width: 100%;
}
.dropdown{
	    position: relative;
    	float: left;
}
.clientContainer{
	    position: relative;
	    float: left;
	    width: 100%;
	    height: 100%;
	    padding-top: 1rem;
	    overflow-y: scroll;
	    background: url('../images/pattern.png') repeat left top;
	    background-color: #2E4C74;
	    opacity: 0.9;
	}
.client{
	    position: relative;
	    float: left;
	    width: 100%;
	    line-height: 4rem;
	    color:white;
	    padding: 0 1rem;
}
.btnSubscribe{
	position: relative;
	float: left;
	padding: 0.5rem 1rem;
	border:1px solid rgba(0,0,0,0.6);
	border-radius: 0.4rem;
	margin-left: 1rem;
}